.create-task-button {
  display: block;
  width: 100%;               
  margin: 1rem 0;        
  padding: 0.6rem 1rem;
  color: #fff;  
  background: linear-gradient(180deg, #0400ff, rgb(11, 0, 170));
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
