@import "tailwindcss";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #4e4e4e;
}

header {
  background-color: #202020;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: left;
  color: rgb(255, 255, 255);
}

header button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #60ff30;
  color: #000000;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

header button:hover {
  background-color: #34861b;
}

header button.active {
  background-color: #8c00ff;
  color: white;
}

.project-details {
  max-width: 800px;
  margin: 4rem auto;
  padding: 1rem;
  background: rgb(218, 216, 216);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.project-details h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000000;
}

.project-details .category {
  margin-bottom: 2rem;
}

.project-details .category h3 {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.25rem;
  color: #383838;
}

.project-details ul {
  list-style: none;
  padding-left: 0;
}

.project-details li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #eee;
}

.project-details li:last-child {
  border-bottom: none;
}

.project-details input[type="checkbox"] {
  cursor: default;
}

.project-details a {
  color: #007acc;
  text-decoration: none;
  font-weight: 600;
}


.project-details em {
  color: #666;
  font-style: normal;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  color: #555;
}

